:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}